
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="sendto" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Who is this message going to?</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input class="form-control" id="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example </label>
    <textarea class="form-control" id="messagetxt" rows="3"></textarea>
  </div>
  <br>
  <button type="button" class="btn btn-secondary" id="sendmessage" style='font-size:24px'>Send <i class='fas fa-anchor'></i></button>
 
</form>
<ul>

  {{#each modifiedMail as |message|}}
  {{#if message.sender}}
  <div id='recieve'>

    <h3>{{message.reciever}}</h3>
    <li class='container-fluid'>{{ message.messagetxt }}</li>
  </div>
  {{else}}
  <div id='send'>

    <h3>{{message.reciever}}</h3>
    <li class='container-fluid'>{{ message.messagetxt }}</li>
  </div>
  {{/if}}
  {{/each}}


</ul>
<script src="/js/inbox.js"></script>

  <footer>
    <div class="container"> 
      <p>  ©2023 Ship Mate. All rights reserved.</p>
      <img src="/css/images/cruisemate.jpg" width = '5%' height = '8%'>
    </div>
  </footer>

</body>